build/
bin/
lib/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake

compile_commands.json
.cache/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.d
*.suo
*.idb
*.pdb

Testing/
*.gcov
*.gcda
*.gcno
*.html

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
cmake-build-*/

*.swp
*.swo
.netrwhist

.DS_Store

*~
*.log
*.tmp